.app {
  text-align: center;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.hide {
  height: 0px;
}
