.cover-editor {
  margin-top: 5px;
  height: 800px;

  display: flex;
  flex-direction: column;

  background-image: url("/images/dark_cat.png");
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: 1080px 900px;
}

/* image uploader */

label {
    padding: 0px;
    background: transparent;
    display: table;
    color: transparent;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.upload {
  margin: 35px auto 10px auto;
}

.actions {
  margin: 10px auto;
  position: relative;
  width: 160px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.download {
}

.visit {
}

.upload-button {
  background-image: url("/images/upload-orig.png");
  background-repeat: no-repeat;
  background-size: 95px 95px;
  background-position: 50% 10px;
  width: 95px;
  height: 105px;
  margin: 50px auto 5px auto;
}

.upload-button:hover {
  background-image: url("/images/upload-hover.png");
  background-repeat: no-repeat;
  background-size: 105px 105px;
  background-position: 50% 0px;
  width: 105px;
  height: 105px;
  margin: 50px auto 5px auto;
}


.download-button {
  width: 80px;
  height: 150px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 14px;
  color: #FFF;
  line-height: 30px;

  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: 50px 100px;
  background-image: url("/images/download-orig.png")
}

.visit-button {
  width: 80px;
  height: 150px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 14px;
  color: #FFF;
  line-height: 30px;

  background-position: 50% 50px;
  background-repeat: no-repeat;
  background-size: 50px 100px;
  background-image: url("/images/wuobaourl-orig.png")
}

.download-button:hover {
  width: 80px;
  height: 150px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 14px;
  color: #FFF;
  line-height: 30px;
  cursor: pointer;

  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: 50px 100px;
  background-image: url("/images/download-hover.png")
}

.visit-button:hover {
  width: 80px;
  height: 150px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 14px;
  color: #FFF;
  line-height: 30px;
  cursor: pointer;

  background-position: 50% 50px;
  background-repeat: no-repeat;
  background-size: 50px 100px;
  background-image: url("/images/wuobaourl-hover.png")
}

.visit a {
  display: block;
  text-decoration: none;
}

/* cover */

.cover-box {
  background-color: #C1C1C1;

  height: 240px;
  width: 180px;
  position: relative;
  overflow: hidden;
  padding: 0;

  margin: 10px auto 10px auto;
  z-index: 10;
}

.cover-img {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events:none;
  z-index: 10;
}

.cover-box-modal {
  background-color: #C1C1C1;

  height: 240px;
  width: 180px;
  position: relative;
  overflow: hidden;
  padding: 0;

  margin: 150px auto 10px auto;
  z-index: 10;
}

.cover-img-modal {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events:none;
  z-index: 10;
}

/* draggable area */

.drag-area {
  position: absolute;
  margin: 10px auto;
  height: 480px;
  width: 360px;
  left: -90px;
  top: -120px;
  z-index: 5;
}

.drag-area-modal {
  position: absolute;
  margin: 10px auto;
  height: 480px;
  width: 360px;
  left: -90px;
  top: -120px;
  z-index: 5;
}

/* draggable item */

.user-img-wrapper {
  display: block;
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;
  z-index: 5;
}

.user-img {
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;

  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
}

.user-img-wrapper-modal {
  display: block;
  max-width: 200px;
  max-height: 240px;
  width: auto;
  height: auto;
  z-index: 5;
}

.user-img-modal {
  max-width: 200px;
  max-height: 240px;
  width: auto;
  height: auto;

  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
}

.slider {
  width: 180px;
  height: 20px;
  margin: 10px auto;
  position: relative;
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #2D6AE5;
  height: 20px;
  top: -3px;
  border-radius: 6px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #2D6AE5;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  z-index: 1;
  border: solid 0px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.rc-slider-handle:focus {
  box-shadow: 0px;
}

.rc-slider-handle {
  border: solid 0px #96dbfa;
}

.slider-minus {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 14px;
  height: 14px;
  line-height: 12.5px;
  border-radius: 14px;
  background-color: #75A9F9;
  color: #FFF;
  text-align: center;
}

.slider-plus {
  position: absolute;
  top: 0px;
  right: 2px;
  width: 14px;
  height: 14px;
  line-height: 12.5px;
  border-radius: 14px;
  background-color: #75A9F9;
  color: #FFF;
  text-align: center;
}
